:root {
  --primary-color: rgb(14, 38, 90);
  --transparent-primary: rgba(14, 38, 90, 0.75);
  --secondary-color: rgb(243, 243, 243);
  --on-primary: rgba(14, 52, 90, 0.6);
  --on-secondary: rgb(155, 155, 155);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}
html {
  padding: 0;
}

body {
  color: var(--primary-color);
}

.unstyled-link {
  text-decoration: none;
}

.page {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(138, 138, 218);
}

.container {
  position: absolute;
  left: 30vw;
  top: 20vh;
  height: 50vh;
  width: 50vw;
  background-color: rgb(243, 204, 248);
}

/* Navigation Bar */
.nav {
  position: absolute;
  z-index: 2;
  padding: 0.25em;
  margin: 0;
  top: 0;
  bottom: 0;
  max-width: 12.5vw;
  background-color: var(--transparent-primary);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.home-button {
  justify-content: center;
  display: flex;
  font-size: 5em;
  color: var(--secondary-color);
  padding: 0.5em 0;
}

.home-button:hover {
  color: var(--on-secondary);
}

.nav-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2em 2em 2em 1em;
  margin: 0.2em 0.1em;
  text-align: right;
  min-width: 1em;
  border: 0.2em solid black;
  box-shadow: var(--box-shadow);
}

.nav-button:hover {
  background-color: var(--on-secondary);
}

.dropdown-toggle {
  display: none;
}

/* Footer */

.perma-footer {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 5vh;
  background-color: var(--transparent-primary);
  text-align: center;
  font-size: 1em;
  color: var(--secondary-color);
  padding: 0.4em 0 0.4em 10em;
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.5);
}

.footer-content {
  display: inline-block;
  padding: 0 1.5em;
}

.fas {
  font-size: 1.4em;
  cursor: pointer;
  color: var(--secondary-color);
  opacity: 65%;
}

.fas:hover {
  color: var(--on-secondary);
}

/* Homepage */

/* Skills */

/* Portfolio */

/* Contact */
.contact-container {
  text-align: center;
  position: absolute;
  left: 25vw;
  top: 15vh;
  height: 50vh;
  width: 50vw;
  background-color: var(--secondary-color);
  border: 0.3em solid var(--primary-color);
  padding: 3em;
  padding-bottom: 7em;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.inline-label {
  display: inline-block;
  padding: 0 2em;
}

.label {
  padding-right: 100%;
  font-size: 0.8em;
  white-space: nowrap;
}

#firstName {
  box-shadow: var(--box-shadow);
}

#lastName {
  box-shadow: var(--box-shadow);
}

#email {
  box-shadow: var(--box-shadow);
}

#subject {
  box-shadow: var(--box-shadow);
}

.form-section {
  padding: 1em 0;
}

.textarea {
  width: 35em;
  height: 10em;
  box-shadow: var(--box-shadow);
}

@media (min-width: 616px) and (max-width: 978px) {
  /* Navbar */

  .home-button {
    font-size: 3em;
    padding: 0.4em 0;
  }

  .nav-button {
    text-align: center;
    padding: 0.5em;
    min-width: 3.3em;
  }

  /* Footer */

  /* Homepage */

  /* Skills */

  /* Portfolio */

  /* Contact */

  .contact-container {
    text-align: center;
    position: absolute;
    left: 25vw;
    top: 15vh;
    height: 50vh;
    width: 50vw;
    background-color: var(--secondary-color);
    border: 0.3em solid var(--primary-color);
    padding: 1em 3em 7em;
    overflow: auto;
    scrollbar-width: none;
  }

  #firstName {
    width: 8.5em;
  }

  #lastName {
    width: 8.5em;
  }

  #email {
    width: 8.5em;
  }

  #subject {
    width: 8.5em;
  }

  .inline-label {
    display: inline-block;
    padding: 0 1em;
  }

  .label {
    padding-right: 100%;
    font-size: 0.8em;
    white-space: nowrap;
  }

  .form-section {
    padding: 1em 0;
  }

  .textarea {
    width: 20em;
    height: 7em;
  }
}

@media (max-width: 615px) {
  .page {
    height: auto;
  }

  .container {
    position: absolute;
    left: auto;
    top: auto;
    height: auto;
    width: auto;
    background-color: rgb(21, 21, 39);
  }

  /* Navbar */

  .nav {
    position: fixed;
    left: 0;
    max-width: 100vw;
    right: 0;
    max-height: 5vh;
    padding: 0.25em;
  }

  .home-button {
    font-size: 1.3em;
    padding: 0.5em;
    display: inline-block;
  }

  .dropdown {
    float: right;
    overflow: hidden;
    margin-top: 2.5em;
  }

  .dropdown-toggle {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 0.4em;
    font-size: 1em;
  }

  .dropdown-toggle-active {
    color: var(--on-secondary);
  }

  .nav-button {
    font: 1em sans-serif;
    padding: 0.4em;
    border: 0.2em solid var(--primary-color);
    box-shadow: var(--box-shadow);
  }

  .dropdown-content {
    display: none;
  }

  .show-dropdown-content {
    display: block;
    transition: all 1s ease-in;
  }

  /* Footer */

  .perma-footer {
    position: fixed;
    max-height: 3vh;
    text-align: center;
    font-size: 1em;
    padding: 0.2em 0;
  }

  /* Homepage */

  /* Skills */

  /* Portfolio */

  /* Contact */
  .page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    align-items: stretch;
    justify-content: center;
  }

  .contact-container {
    text-align: center;
    position: relative;
    left: initial;
    top: initial;
    height: initial;
    width: initial;
    background-color: var(--secondary-color);
    border: 0.2em solid var(--primary-color);
    padding: 1em;
    overflow: auto;
    scrollbar-width: none;
    margin: 5em 0.5em;
  }

  #firstName {
    width: 8em;
  }

  #lastName {
    width: 8em;
  }

  #email {
    width: 8em;
  }

  #subject {
    width: 8em;
  }

  .inline-label {
    display: inline-block;
    padding: 0 1em;
  }

  .textarea {
    width: 15em;
    height: 10em;
  }
}
